<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard | Transaction System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/dashboard.css' %}" />
  </head>
  <body>
    <div class="dashboard-wrapper">
      <h1 class="welcome">Welcome, <span>{{ request.user.username }}</span></h1>
      <div class="balance-card">
        <p>Your Current Balance</p>
        <h2>₹ {{ wallet.balance }}</h2>
      </div>
      <div class="actions">
        <a href="/add-money/" class="btn primary">Add Money</a>
        <a href="/transfer/" class="btn primary">Transfer Money</a>
        <a href="/pay-mobile/" class="btn primary">
          Pay through Mobile Number
        </a>
        <a href="/transactions/" class="btn secondary"> Transaction History </a>
        <a href="{% url 'logout' %}" class="btn logout">Logout</a>
      </div>
    </div>
  </body>
</html>
